.register-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
}

.register-border {
  border-style: solid;
  border-radius: 30px;
  width: 80vh;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-wrap {
  width: 60vh;
}

.register-label {
  display: flex;
  justify-content: left;
}

.register-button {
  width: 60vh;
  background-color: #7669e4;
  border-color: #7669e4;
  color: #fff;
}

.register-button:hover {
  border-color: #85586f;
  background-color: #85586f;
}
