.backgrondBlock {
  background-color: #8d99ae;
  color: #2b2d42;
}
.todo-body {
  height: 100vh;
  width: auto;
  text-align: center;
  margin: 20px;
}
.body-border {
  background-color: #2b2d42;
  border-color: #ebeef1;
  color: white;
  padding: 2vw 4vw;
}
